<h1>Редактировать вопрос <%= @question.id %> (<%= @test.title%>)</h1>
<%= form_with model: @question, local: true do |f| %>
  <div class="field">
    <div><%= f.label :question_body %></div>
    <div><%= f.text_field :body, id: :question_body %></div>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
<div>
<p><%= link_to 'Назад', test_path(@test) %></p>
</div>