<%= form_with url: sessions_path, local: true do |form| %>
  <%= flash_message(:alert) %>

  <div class="field">
    <div><%= form.label :email %></div>
    <div><%= form.text_field :email, id: :email %></div>
  </div>
  <div class="field">
    <div><%= form.label :password %></div>
    <div><%= form.password_field :password, id: :password %></div>
  </div>
  <div class="field">
    <%= form.submit 'Войти' %>
  </div>
<% end %>
