<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <div class="field">
    <div><%= form.label :body %></div>
    <div><%= form.text_area :body, id: :answer_body, rows: 7, cols: 60 %></div>
  </div>
  <div class="field">
    <div><%= form.label :correct %></div>
    <div><%= form.check_box :correct, id: :answer_correct %></div>
  </div>
  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
