<%= form_with model: [:admin, @test, @question], local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>
  
  <div class="field">
    <div><%= f.label :body %></div>
    <div><%= f.text_field :body, id: :question_body %></div>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
