<div class="container mb-5">
  <h1>Вопрос теста <%= @question.test.title %></h1>
  
  <p><%= @question.body %></p>
  
  <h2>Ответы</h2>
  
  <table class="table table-striped table-dark">
    <thead>
      <th>Тело ответа</th>
      <th>Правильный?</th>
      <th colspan="3">Действия</th>
    </thead>
    <tbody>
      <%= render @question.answers %>
    </tbody>
  </table>
  
  <div>
    <%= link_to 'Назад', admin_test_path(@question.test), class: "btn btn-link" %>
    <%= link_to 'Новый ответ', new_admin_question_answer_path(@question), class: "btn btn-primary" %>
  </div>
</div>