<%= form_with model: [:admin, @test], local: true do |f| %>
  <%= render 'shared/errors', resource: @test %>
  
  <div class="field">
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title, id: :test_title %></div>
  </div>
  <div class="field">
    <div><%= f.label :level %></div>
    <div><%= f.number_field :level, id: :test_level %></div>
  </div>
  <div class="field">
    <div><%= f.label :category_id %></div>
    <div><%= f.collection_select :category_id, Category.all, :id, :title, prompt: true %></div>
  </div>
  <% if @test.persisted? %>
    <div class="field">
      <div><%= f.label :author_id %></div>
      <div><%= f.collection_select :author_id, User.all, :id, :email, prompt: true %></div>
    </div>
  <% end %>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
