<h1><%= @test.title %></h1>
<p>Уровень сложности: <%= @test.level %></p>
<p>Автор: <%= @test.author.first_name %></p>
<h2>Вопросы:</h2>
<table>
  <thead>
    <tr>
      <th>Вопрос</th>
      <th colspan="3">Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @test.questions.each do |q| %>
      <tr>
        <td><%= q.body %></td>
        <td><%= link_to 'Просмотр', admin_question_path(q) %></td>
        <td><%= link_to 'Редактировать', edit_admin_question_path(q) %></td>
        <td><%= link_to 'Удалить', admin_question_path(q), method: :delete, data: { confirm: 'Уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <p><%= link_to 'Добавить новый вопрос', new_admin_test_question_path(@test) %></p>
  <p><%= link_to 'Назад', admin_tests_path %></p>
</div>
